*{
    margin:0;
    padding: 0;
}
.size-140{
    height: 140px;
    width: 140px
}
.flex {
    display: flex;
}
.font-cookie{
    font-family: 'Cookie', cursive;
}
.font-size-45{
    font-size: 45px;
}
.flex-column{
    flex-direction: column;
}
.max-width-1300{
    max-width: 1300px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-center{
    justify-content: center;
}
.font-nunito{
    font-family: 'Nunito', sans-serif;
}
.no-underline{
    text-decoration: none;
}
.uppercase{
    text-transform: uppercase;
}
.text-color-black{
    color: black;
}
.my-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.height-250{
    height: 250px;
}
.full-width{
    width: 100%;
}
.font-size-30{
    font-size: 30px;
}
.t-align-center{
    text-align: center;
}
.bg-lightblue{
    background-color: rgb(162, 216, 235);
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-20{
    font-size: 20px;
}
.text-bold{
    font-weight: bold;
}
.width-135{
    width: 135px;
}
.my-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.y-align-center{
    align-items: center;
}
.m-right-20{
    margin-right: 20px;
}
.font-size-18{
    font-size: 18px;
}
.m-left-65{
    margin-left: 65px;
}
.rotate-20{
    transform: rotate(-20deg);
}
.height-455{
    height: 455px;
}
#consiguelo{
    position: relative;
    left: 90px;
    bottom: -35px;
    width: 200px;
}
.line-height-1-7{
    line-height: 1.7;
}
.m-10{
    margin-top: 20px;
}
.m-top-25{
    margin-top: 25px;
}
.p-bottom-50{
    padding-bottom: 50px;
}
.pxy-60{
    padding: 70px;
}
.justify-around{
    justify-content: space-around;
}
.div-video{
    margin: 20px 40px;
    padding: 60px 160px;
}
.wrap{
    flex-wrap: wrap;
}
.div-img{
    margin: 10px 45px;
    padding: 50px;
}
.button{
    padding: 7px 15px;
    margin: 10px 0;
    background-color: rgb(221, 227, 233);
    border-radius: 9px;
}
.button:hover{
    background-color: rgb(161, 179, 195);
    cursor: pointer;
}
.bg-gray{
    background-color: gray;;
}
.justify-between{
    justify-content: space-between;
}
.footer-text{
    font-family: 'Nunito';
    font-size: 16px;
    color:rgb(231, 220, 219);
    margin: 0 3px;
}