*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(207, 207, 207);
}
main{
    height: 900px;
}
h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5pt;
}
span{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-around{
    justify-content: space-around;
}
.container{
    height: 400px;
    width: 500px;
}
.m-xy-auto{
    margin: auto;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
button{
    font-size: 25px;
    color: black;
    background-color: white;
    border-color: black;
    padding: 2px 8px;
    border-radius: 15px;
    border-style: solid;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
    position: relative;
    top: -2px;
}