body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1{
    margin: 0;
}
p {
    margin: 0;
}
.logo-size {
    height: 25px;
    width: 62.87px;
}
.bg-gray-900-op-2{
    background-color: rgba(30, 31, 51, 0.2);
}
.tx-white{
    color: #e2d6d6;
}
.block {
    display: block;
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.hidden {
    display:none;
}
.flex {
    display: flex;
}

.justify-evenly{
    justify-content: space-evenly;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.m-8 {
    margin: 8px;
}
.p-header {
    padding: 13px 12px;
}
/* No me funciona está opción */
.py-9{
    padding-top: 7px;
    padding-bottom: 7px;
}
/* Tuve que cambiar las propiedades del padding y margin para que no se sobreescriban las propiedades */
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}
.mx-15{
    margin-right: 15px;
    margin-left: 15px;
}
.ml-25 {
    margin-left: 25px;
}
.mr-25 {
    margin-right: 25px;
}
.bg-lgbl{
    background-color: #5b8395;
}

.br-12{
    border-radius: 12px;
}
.no-underline{
    text-decoration: none;
}
.font-bold{
    font-weight: bolder;
}
.uppercase{
    text-transform: uppercase;
}
.letter-spacing-1{
    letter-spacing: 1px;
}
.w-full {
    width:100%;
}
.p-relative {
    position: relative;
}
.p-m-up{
    top: -66px; 
}
.z-10{
    z-index: 10;
}
.font-size-60{
    font-size: 60px;
}
.tx-color-lgbl{
    color: #7695a3;
}
.f-direction-column{
    flex-direction: column;
}

.bg-white{
    background-color: white;
}
.no-border{
    border: none;
}
.font-size-20{
    font-size: 20px;
}
.my-42{
    margin-top: 42px;
    margin-bottom: 42px;
}
/* Position atributte */
/* Relative -> Podemos mover en 8 direcciones */

/* 
    -block - uses all the line
    -inline-block - Using margin and padding
    -inline - Use all the necessary space
    -none: Ocultar elementos

    -flex: Se emplean en los contenedores padres.
 */

 /* 1:54:29 */
