body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
div{
    height: 40px
}
.logo-size {
    height: 25px;
    width: 62.87px;
}
.bg-gray-900{
    background-color: #1e1f33;
}
.tx-white{
    color: #e2d6d6;
}
.block {
    display: block;
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.hidden {
    display:none;
}
.flex {
    display: flex;
}

.justify-evenly{
    justify-content: space-evenly;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.m-8 {
    margin: 8px;
}
.p-header {
    padding: 13px 12px;
}
/* No me funciona está opción */
.py-9{
    padding-top: 7px;
    padding-bottom: 7px;
}
/* Tuve que cambiar las propiedades del padding y margin para que no se sobreescriban las propiedades */
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}
.mx-15{
    margin-right: 15px;
    margin-left: 15px;
}
.ml-25 {
    margin-left: 25px;
}
.mr-25 {
    margin-right: 25px;
}
.bg-lgbl{
    background-color: #3a667a;
}

.br-12{
    border-radius: 12px;
}
.no-underline{
    text-decoration: none;
}
/* 
    -block - uses all the line
    -inline-block - Using margin and padding
    -inline - Use all the necessary space
    -none: Ocultar elementos

    -flex: Se emplean en los contenedores padres.
 */
